registry=http://172.31.33.45:9980/nikhil/repository/nodejs-project/
//172.31.33.45:9980/nikhil/repository/nodejs-project/:_auth=YWRtaW46YWRtaW4xMjM=
email=devopstrainingblr@gmail.com
always-auth=true
